/* src/components/GamePage/GamePage.module.css */
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
  min-height: 100vh;
  background-color: goldenrod;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  max-width: 90%;
  min-width: 360px;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.gameContainer {
  width: 100%;
  margin-bottom: .5rem;
}

.horizontalBreak {
  width: 100%;  /* Full width */
  border: 0;
  border-top: 2px solid #ccc;  /* Customize line thickness and color */
  margin: 1rem 0;  /* Adjust space above and below the line */
}

.gameInfoContainer {
    display: flex;
    gap: .5rem;
    align-items: start;
    justify-content: space-between;
    padding: 0 .5rem;
}

.scoreContainer {
  display: flex;
  gap: .5rem;
}

.scoreLabel {
  font-weight: bold;
}

.scoreValue {
  font-style: italic;
}

.questionCounter {
  font-weight: 300;
}

/* question info styling (category and difficulty) */
.questionInfoContainer {
  /* border: 2px solid rebeccapurple; */
  width: 100%;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 0 .5rem;
  margin-bottom: .5rem;
}

.categoryHeader {
  font-weight: bold;
  text-transform: uppercase;
}

.category {
  font-style: italic;
}

.questionContainer {
  /* border: 3px dashed yellowgreen; */
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* choices container */
.choicesContainer {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.question {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1rem 1rem 1rem;
  color: #333;
  text-align: start;
}

.choice {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f8f9fa;
  transition: background-color 0.2s;
  width: 100%;
  text-align: start;
  display: flex;
  gap: .75rem;
}

.choice:hover {
  background-color: #D8E9FF;
}

/* Correct answer styling */
.correct {
  background-color: #0f9c110f; /* Green */
  border: 3px solid #28a745;
  /* color: white; */
}

/* Incorrect answer styling */
.incorrect {
  background-color: #ff2c2c14;
  border: 3px solid #dc3545;
  /* color: white; */
}

/* Optional: Highlight the selected answer while waiting for the result */
.selected {
  background-color: #D8E9FF; /* Light blue for selected answer */
}

.button {
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: .5rem;
  width: 100%;
}

.button:hover {
  background-color: #0056b3;
}

.buttonRestart {
  padding: .25rem;
  align-self: flex-end;
  font-size: small;
  justify-self: flex-end;
}
